<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <xacro:macro name="my_robot_cell" params="
    parent
    *origin
    ur_type
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    ">

    <joint name="table_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="table" />
    </joint>

    <link name="table">
      <visual>
        <geometry>
          <box size="1.25 0.85 1"/>  <!-- bredde, dybde, høyde -->
        </geometry>
        <origin rpy="0 0 0" xyz="0.77 0.5 -0.5"/>
        <material name="table_color">
          <color rgba="0.5 0.5 0.5 1"/> 
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="1.25 0.85 1"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.77 0.5 -0.5"/>
      </collision>
    </link>

        <!-- Camera mount på tool0 -->
    <link name="camera_mount">
      <visual>
        <geometry>
          <box size="0.08 0.15 0.01"/>
        </geometry>
        <origin xyz="0 -0.035 0.006" rpy="0 0 0"/>
        <material name="silver">
          <color rgba="0.8 0.8 0.8 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.08 0.15 0.01"/>
        </geometry>
        <origin xyz="0 -0.035 0.006" rpy="0 0 0"/>
      </collision>
    </link>

    <!-- Fest camera_mount til tool0 -->
    <joint name="camera_mount_joint" type="fixed">
      <parent link="tool0"/>
      <child link="camera_mount"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <material name="white">
      <color rgba="1 1 1 1"/>
    </material>

    <link name="robot_mount"/>
    <joint name="base_to_robot_mount" type="fixed">
      <parent link="table"/>
      <child link="robot_mount"/>
      <origin xyz="0.845 0.85 0" rpy="0 0 ${pi}" />
    </joint>

    <!-- Plate 1 -->
<link name="plate_1">
  <visual>
    <geometry>
      <box size="0.25 0.45 0.015"/>  <!-- bredde, dybde, høyde -->
    </geometry>
    <origin rpy="0 0 0" xyz="1.27 0.5 0.0075"/>
    <material name="plate1">
      <color rgba="0.7 0.7 0.7 1"/>
    </material>
  </visual>
  <collision>
    <geometry>
      <box size="0.25 0.45 0.015"/>
    </geometry>
    <origin rpy="0 0 0" xyz="1.27 0.5 0.0075"/>
  </collision>
</link>

<!-- Plate 2 -->
<link name="plate_2">
  <visual>
    <geometry>
      <box size="0.25 0.45 0.015"/>
    </geometry>
    <origin rpy="0 0 0" xyz="0.27 0.5 0.0075"/>
    <material name="plate2">
      <color rgba="0.7 0.7 0.7 1"/>
    </material>
  </visual>
  <collision>
    <geometry>
      <box size="0.25 0.45 0.015"/>
    </geometry>
    <origin rpy="0 0 0" xyz="0.27 0.5 0.0075"/>
  </collision>
</link>

<!-- Fest til bordet -->
<joint name="plate1_joint" type="fixed">
  <parent link="table"/>
  <child link="plate_1"/>
</joint>

<joint name="plate2_joint" type="fixed">
  <parent link="table"/>
  <child link="plate_2"/>
</joint>

    <!--This will create the specific robot-->
    <!-- Robot 1 -->
    <xacro:ur_robot
      name="${ur_type}"
      tf_prefix=""
      parent="robot_mount"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}">
      <origin xyz="0.575 0.365 0.015" rpy="0 0 0"/>
    </xacro:ur_robot>

    <!-- Robot 2 -->
    <xacro:ur_robot
      name="${ur_type}"
      tf_prefix="_2"
      parent="robot_mount"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}">
      <origin xyz="-0.425 0.365 0.015" rpy="0 0 0"/>
    </xacro:ur_robot>

  </xacro:macro>

</robot>